html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.esri-ui-top-right {
    max-height: 100%;
}

#queryDiv,
#resultDiv {
    min-width: 250px;
    font-size: 14px;
    padding: 10px;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.geometry-options {
    display: flex;
    flex-direction: row;
}

.geometry-button {
    flex: 1;
    border-style: solid;
    border-width: 1px;
    border-image: none;
}

.geometry-button-selected {
    background: #4c4c4c;
    color: #fff;
}

#bufferNum {
    width: 90%;
    margin: 2.5em auto 0;
}

.count, .selected-area {
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}
