@import './sidebar.css';

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.esri-ui-top-right {
  max-height: 100%;
}

/* state when sidebar is closed */
#viewDiv {
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  left: 60px;
  width: calc(100% - 60px);
  transition: all 0.5s ease;
  z-index: 2;
}

#queryDiv {
  position: relative;
  min-width: 250px;
  font-size: 14px;
  padding: 10px;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.geometry-options {
  display: flex;
  flex-direction: row;
}

.geometry-button {
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-image: none;
}

.geometry-button-selected {
  background: #4c4c4c;
  color: #fff;
}

#bufferNum {
  width: 90%;
  margin: 2.5em auto 0;
}

.query-stats div {
  white-space: nowrap;
  display: inline-block;
}

.charts canvas {
  margin: 25px auto;
}

footer {
  font-size: 0.8em;
  line-height: 1.3em;
  border-top: 1px solid;
  padding-top: 2em;
  margin-top: 2em;
}

a {
  text-decoration: none;
  border-bottom: 1px dashed #232323;
  color: #232323;
}

a:hover {
  border-bottom: 1px solid #232323;
}


